$main-color: #f1c40f;
$white: #f6f6f7;
$gray: rgb(232, 232, 232);

:root {
  /* Step -2: 15.278px → 11.52px */
  --step--2: clamp(0.72rem, 1.002rem + -0.235vi, 0.955rem);
  /* Step -1: 18.333px → 14.4px */
  --step--1: clamp(0.9rem, 1.195rem + -0.246vi, 1.146rem);
  /* Step 0: 22px → 18px */
  --step-0: clamp(1.125rem, 1.425rem + -0.25vi, 1.375rem);
  /* Step 1: 26.4px → 22.5px */
  --step-1: clamp(1.406rem, 1.699rem + -0.244vi, 1.65rem);
  /* Step 2: 31.68px → 28.125px */
  --step-2: clamp(1.758rem, 2.024rem + -0.222vi, 1.98rem);
  /* Step 3: 38.016px → 35.156px */
  --step-3: clamp(2.197rem, 2.412rem + -0.179vi, 2.376rem);
  /* Step 4: 45.619px → 43.945px */
  --step-4: clamp(2.747rem, 2.872rem + -0.105vi, 2.851rem);
  /* Step 5: 54.743px → 54.932px */
  --step-5: clamp(3.421rem, 3.419rem + 0.012vi, 3.433rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.wrapper-1 {
  width: 100%;
  max-width: 2560px;
  height: 100vh;
  position: relative;
  background-image: url(../assets/graphics/Rectangle72.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media screen and (orientation: portrait) {
    background-image: unset;
  }
  .wrapper-1-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .wrapper-1-header-navigation {
      width: 90%;
      margin: auto;
      padding: 2rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .wrapper-1-header-logo {
        font-size: var(--step-3);
        font-weight: 500;
        line-height: 1.75rem;
        @media screen and (orientation: portrait) {
          font-size: var(--step-1);
        }
      }
      .wrapper-1-header-menu {
        list-style: none;
        display: flex;
        @media screen and (orientation: portrait) {
          background-color: $white;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          flex-direction: column;
          z-index: 2;
          align-items: center;
          justify-content: center;
          transform: translateX(100%);
          transition: 150ms ease-in-out;
        }
        .wrapper-1-menu-item {
          font-size: var(--step-1);
          font-weight: 400;
          padding: 0 1.5rem;
          @media screen and (orientation: portrait) {
            padding: 0;
            margin: 1.5rem 0;
          }
          &:hover {
            color: $main-color;
            transition: 150ms ease-in-out;
          }
        }
      }
      .show-menu-mobile {
        transform: translateX(0);
      }
      .hamburger {
        width: 3rem;
        height: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        display: none;
        @media screen and (orientation: portrait) {
          display: flex;
          z-index: 3;
        }
        .line {
          width: 100%;
          height: 5px;
          background-color: black;
          transition: 150ms ease-in-out;
        }
      }
      .active {
        justify-content: center;
      }
      .active .line:nth-child(2) {
        display: none;
      }
      .active .line:nth-child(1) {
        transform: rotate(45deg);
        margin-bottom: -5px;
      }
      .active .line:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
  .wrapper-1-content {
    margin: 5vmax 0 0 10%;
    .wrapper-1-content-title {
      font-size: var(--step-5);
      font-weight: 500;
      z-index: -1;
      span {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          background-color: $main-color;
          width: 25%;
          height: 0.7rem;
          bottom: 1rem;
          left: 0;
          z-index: -1;
        }
      }
    }
    .wrapper-1-content-description {
      font-size: var(--step-0);
      font-weight: 300;
      width: 45%;
      margin: 1.5rem 0 4.5rem 0;
    }
    .wrapper-1-content-btn {
      padding: 0.7rem 2rem;
      font-size: var(--step-0);
      background-color: $main-color;
      &:hover {
        transition: 150ms ease-in-out;
        background-color: $gray;
      }
    }
  }
}

.wrapper-2 {
  width: 80%;
  max-width: 2048px;
  background-color: $main-color;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media screen and (orientation: portrait) {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
  .wrapper-2-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .wrapper-2-item-number {
      font-size: var(--step-1);
      font-weight: 500;
    }
    .wrapper-2-item-description {
      font-size: var(--step-0);
      font-weight: 300;
    }
  }
}
.wrapper-3 {
  width: 70%;
  max-width: 2048px;
  padding: 8rem 0;
  display: grid;
  grid-template-columns: 40% 45%;
  gap: 0 10%;
  align-items: center;
  justify-content: center;
  @media screen and (orientation: portrait) {
    padding: 3rem 0;
    width: 90%;
    grid-template-columns: 1fr;
  }
  .wrapper-3-img {
    width: 100%;
    height: 30rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (orientation: portrait) {
      height: 15rem;
    }
  }
  .wrapper-3-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media screen and (orientation: portrait) {
      padding: 2rem 0;
    }
    .wrapper-3-content-title {
      font-size: var(--step-3);
      font-weight: 600;
    }
    .wrapper-3-content-description {
      font-size: var(--step-0);
      font-weight: 300;
      margin-top: 1rem;
    }
  }
}

.weeding {
  background-image: url(../assets/graphics/weeding.jpg);
}
.kids {
  background-image: url(../assets/graphics/kids.jpg);
  grid-row: 3/4;
}
.party {
  background-image: url(../assets/graphics/party.jpg);
}

.wrapper-test {
  width: 100%;
  height: 8rem;
  background-image: url(../assets/graphics/test.png);
  background-position: center;
  background-size: cover;
}

.wrapper-4 {
  width: 70%;
  max-width: 2048px;
  padding: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (orientation: portrait) {
    padding: 2rem 0;
    width: 90%;
    flex-direction: column;
  }
  .wrapper-4-content {
    background-color: $main-color;
    padding: 3rem;
    z-index: 1;
    width: 55%;
    margin-right: -5%;
    @media screen and (orientation: portrait) {
      width: 100%;
      margin: auto;
    }
    .wrapper-4-content-title {
      font-size: var(--step-3);
      font-weight: 600;
    }
    .wrapper-4-content-description {
      font-size: var(--step-0);
      font-weight: 300;
      margin-top: 1.5rem;
    }
  }
  .wrapper-4-photo {
    width: 50%;
    height: 43rem;
    background-image: url(../assets/graphics/bg1.png);
    background-position: center;
    background-size: cover;
    z-index: 0;
    @media screen and (orientation: portrait) {
      width: 100%;
      height: 25rem;
      margin-top: 3rem;
    }
  }
}

.wrapper-5 {
  width: 70%;
  max-width: 2048px;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @media screen and (orientation: portrait) {
    width: 90%;
    margin: auto;
    padding: 3rem 0;
  }
  .wrapper-5-title {
    font-size: var(--step-3);
    font-weight: 600;
  }
  .wrapper-5-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    @media screen and (orientation: portrait) {
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem;
    }
    .wrapper-5-item {
      background-color: $gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 1rem;
      border-radius: 1rem;
      .wrapper-5-item-photo {
        width: 8rem;
        height: 8rem;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
      }
      .face1 {
        background-image: url(../assets/graphics/face1.jpg);
      }
      .face2 {
        background-image: url(../assets/graphics/face2.jpg);
      }
      .face3 {
        background-image: url(../assets/graphics/face3.jpg);
      }
      .face4 {
        background-image: url(../assets/graphics/face4.jpg);
      }
      .wrapper-5-item-title {
        font-size: var(--step-1);
        font-weight: 400;
        margin: 1rem 0;
      }
      .wrapper-5-item-description {
        font-size: var(--step-0);
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

.wrapper-6 {
  width: 100%;
  padding: 5rem 15%;
  background-color: rgb(56, 56, 56);
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (orientation: portrait) {
    padding: 5rem 5%;
    grid-template-columns: 1fr;
  }
  .wrapper-6-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .wrapper-6-content-title {
      font-size: var(--step-4);
      font-weight: 600;
      color: $white;
      margin-bottom: 2rem;
    }
    .wrapper-6-content-description {
      font-size: var(--step-1);
      font-weight: 400;
      color: $white;
      margin: 1rem 0 1rem 0;
    }
    .main {
      color: $main-color;
    }
  }
  .wrapper-6-form {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
    background-color: $main-color;
    .wrapper-6-form-title {
      font-size: var(--step-3);
      grid-column: 1/5;
      padding: 1rem 0;
      color: $white;
    }
    .wrapper-6-form-input {
      background-color: $gray;
      border: none;
      font-size: var(--step--1);
      padding: 1rem;
      border-radius: 1rem;
      height: 2.5rem;
      &:focus {
        outline: 2px solid black;
      }
    }
    #name {
      grid-column: 1/3;
    }
    #surname {
      grid-column: 3/5;
    }
    #phone {
      grid-column: 1/3;
    }
    #email {
      grid-column: 3/5;
    }
    #msg {
      grid-column: 1/5;
      resize: none;
      height: 10rem;
    }
    .wrapper-6-form-btn {
      grid-column: 4/5;
      font-size: var(--step--1);
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      border: none;
      background-color: $white;
      border-radius: 1rem;
      &:hover {
        background-color: rgb(16, 189, 16);
        color: $white;
      }
    }
  }
}
