@charset "UTF-8";
:root {
  /* Step -2: 15.278px → 11.52px */
  --step--2: clamp(0.72rem, 1.002rem + -0.235vi, 0.955rem);
  /* Step -1: 18.333px → 14.4px */
  --step--1: clamp(0.9rem, 1.195rem + -0.246vi, 1.146rem);
  /* Step 0: 22px → 18px */
  --step-0: clamp(1.125rem, 1.425rem + -0.25vi, 1.375rem);
  /* Step 1: 26.4px → 22.5px */
  --step-1: clamp(1.406rem, 1.699rem + -0.244vi, 1.65rem);
  /* Step 2: 31.68px → 28.125px */
  --step-2: clamp(1.758rem, 2.024rem + -0.222vi, 1.98rem);
  /* Step 3: 38.016px → 35.156px */
  --step-3: clamp(2.197rem, 2.412rem + -0.179vi, 2.376rem);
  /* Step 4: 45.619px → 43.945px */
  --step-4: clamp(2.747rem, 2.872rem + -0.105vi, 2.851rem);
  /* Step 5: 54.743px → 54.932px */
  --step-5: clamp(3.421rem, 3.419rem + 0.012vi, 3.433rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background-color: #f6f6f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-75%);
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0%);
  }
}
.wrapper-1 {
  width: 100%;
  max-width: 2560px;
  min-height: 100vh;
  position: relative;
  background-color: #f6f6f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.wrapper-1 .wrapper-1-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .wrapper-1-header-logo {
  font-size: var(--step-3);
  font-weight: 500;
  line-height: 1.75rem;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .wrapper-1-header-logo {
    font-size: var(--step-1);
  }
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .wrapper-1-header-menu {
  list-style: none;
  display: flex;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .wrapper-1-header-menu {
    background-color: #f6f6f7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 150ms ease-in-out;
  }
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .wrapper-1-header-menu .wrapper-1-menu-item {
  font-size: var(--step-1);
  font-weight: 400;
  padding: 0 1.5rem;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .wrapper-1-header-menu .wrapper-1-menu-item {
    padding: 0;
    margin: 1.5rem 0;
  }
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .wrapper-1-header-menu .wrapper-1-menu-item:hover {
  color: #f1c40f;
  transition: 150ms ease-in-out;
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .show-menu-mobile {
  transform: translateX(0);
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .hamburger {
  width: 3rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .hamburger {
    display: flex;
    z-index: 3;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .hamburger {
    width: 2.5rem;
    height: 1.5rem;
  }
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .hamburger .line {
  width: 100%;
  height: 5px;
  background-color: black;
  transition: 150ms ease-in-out;
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .hamburger .line {
    height: 4px;
  }
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .active {
  justify-content: center;
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .active .line:nth-child(2) {
  display: none;
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .active .line:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: -4px;
}
.wrapper-1 .wrapper-1-header .wrapper-1-header-navigation .active .line:nth-child(3) {
  transform: rotate(-45deg);
}
.wrapper-1 .wrapper-1-content {
  width: 70%;
  max-width: 2048px;
  margin-top: 5rem;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content {
    width: 90%;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-content {
    padding: 5rem 0;
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-content-title {
  font-weight: 600;
  font-size: var(--step-4);
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-content .wrapper-1-content-title {
    font-size: var(--step-2);
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-menu {
  width: 60%;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content .wrapper-1-menu {
    width: 90%;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-content .wrapper-1-menu {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-menu .wrapper-1-menu-btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  color: black;
  border-radius: 1rem;
  font-size: var(--step--1);
}
.wrapper-1 .wrapper-1-content .wrapper-1-menu .btn-active {
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
}
.wrapper-1 .wrapper-1-content .wrapper-1-container {
  width: 100%;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content .wrapper-1-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-content .wrapper-1-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-container .wrapper-1-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade-in 750ms forwards;
}
.wrapper-1 .wrapper-1-content .wrapper-1-container .wrapper-1-box .wrapper-1-box-img {
  width: 100%;
  height: 12rem;
  background-position: center;
  background-size: cover;
  background-color: coral;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.wrapper-1 .wrapper-1-content .wrapper-1-container .wrapper-1-box .wrapper-1-box-title {
  font-size: var(--step--1);
  font-weight: 500;
  padding: 0.75rem 0;
  width: 100%;
  text-align: center;
  background-color: rgb(232, 232, 232);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-content .wrapper-1-container .wrapper-1-box .wrapper-1-box-title {
    font-size: var(--step--2);
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-container .box-hidden-animation {
  animation: slide-out 400ms forwards, fade-out 500ms forwards;
}
.wrapper-1 .wrapper-1-content .wrapper-1-container .box-hidden {
  display: none;
}

.wrapper-2 {
  width: 100%;
  padding: 5rem 15%;
  background-color: rgb(56, 56, 56);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (orientation: portrait) {
  .wrapper-2 {
    padding: 5rem 5%;
    grid-template-columns: 1fr;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 {
    padding: 3rem 2.5%;
  }
}
.wrapper-2 .wrapper-2-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrapper-2 .wrapper-2-content .wrapper-2-content-title {
  font-size: var(--step-4);
  font-weight: 600;
  color: #f6f6f7;
  margin-bottom: 2rem;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-content .wrapper-2-content-title {
    font-size: var(--step-3);
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 .wrapper-2-content .wrapper-2-content-title {
    font-size: var(--step-2);
  }
}
.wrapper-2 .wrapper-2-content .wrapper-2-content-description {
  font-size: var(--step-1);
  font-weight: 400;
  color: #f6f6f7;
  margin: 1rem 0 1rem 0;
  text-decoration: none;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-content .wrapper-2-content-description {
    font-size: var(--step-0);
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 .wrapper-2-content .wrapper-2-content-description {
    font-size: var(--step--1);
  }
}
.wrapper-2 .wrapper-2-content .main {
  color: #f1c40f;
}
.wrapper-2 .wrapper-2-form {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  background-color: #f1c40f;
}
.wrapper-2 .wrapper-2-form .wrapper-2-form-title {
  font-size: var(--step-3);
  grid-column: 1/5;
  padding: 1rem 0;
  color: #f6f6f7;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-form .wrapper-2-form-title {
    font-size: var(--step-2);
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 .wrapper-2-form .wrapper-2-form-title {
    font-size: var(--step-1);
  }
}
.wrapper-2 .wrapper-2-form .wrapper-2-form-input {
  background-color: rgb(232, 232, 232);
  border: none;
  font-size: var(--step--1);
  padding: 1rem;
  border-radius: 1rem;
  height: 2.5rem;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-form .wrapper-2-form-input {
    font-size: var(--step--2);
  }
}
.wrapper-2 .wrapper-2-form .wrapper-2-form-input:focus {
  outline: 2px solid black;
}
.wrapper-2 .wrapper-2-form #name {
  grid-column: 1/3;
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 .wrapper-2-form #name {
    grid-column: 1/5;
  }
}
.wrapper-2 .wrapper-2-form #surname {
  grid-column: 3/5;
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 .wrapper-2-form #surname {
    grid-column: 1/5;
  }
}
.wrapper-2 .wrapper-2-form #phone {
  grid-column: 1/3;
  text-decoration: none;
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 .wrapper-2-form #phone {
    grid-column: 1/5;
  }
}
.wrapper-2 .wrapper-2-form #email {
  grid-column: 3/5;
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 .wrapper-2-form #email {
    grid-column: 1/5;
  }
}
.wrapper-2 .wrapper-2-form #msg {
  grid-column: 1/5;
  resize: none;
  height: 10rem;
}
.wrapper-2 .wrapper-2-form .wrapper-2-form-btn {
  grid-column: 4/5;
  font-size: var(--step--1);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  background-color: #f6f6f7;
  color: black;
  border-radius: 1rem;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-form .wrapper-2-form-btn {
    font-size: var(--step--2);
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 .wrapper-2-form .wrapper-2-form-btn {
    padding: 0.5rem 1.5rem;
  }
}
.wrapper-2 .wrapper-2-form .wrapper-2-form-btn:hover {
  background-color: rgb(16, 189, 16);
  color: #f6f6f7;
}

.animacje {
  background-image: url(../assets/offer/animacje.jpeg);
}

.balony {
  background-image: url(../assets/offer/balony.jpeg);
}

.banki {
  background-image: url(../assets/offer/banki.jpeg);
}

.beczki {
  background-image: url(../assets/offer/beczki.jpeg);
}

.bon {
  background-image: url(../assets/offer/bon.jpeg);
}

.brama {
  background-image: url(../assets/offer/brama.jpeg);
}

.bus {
  background-image: url(../assets/offer/bus.jpeg);
}

.candy {
  background-image: url(../assets/offer/candy.jpeg);
}

.dekoracja {
  background-image: url(../assets/offer/dekoracja.jpeg);
}

.dmuchaniec {
  background-image: url(../assets/offer/dmuchaniec.jpeg);
}

.drogowskaz {
  background-image: url(../assets/offer/drogowskaz.jpg);
}

.dym {
  background-image: url(../assets/offer/dym.jpeg);
}

.fontanna_alko {
  background-image: url(../assets/offer/fontanna_alko.jpeg);
}

.fontanna {
  background-image: url(../assets/offer/fontanna.jpeg);
}

.fotobudka {
  background-image: url(../assets/offer/fotobudka.jpeg);
}

.golebie {
  background-image: url(../assets/offer/golebie.jpeg);
}

.iskry {
  background-image: url(../assets/offer/iskry.jpeg);
}

.kaskada {
  background-image: url(../assets/offer/kaskada.jpeg);
}

.kominiarz {
  background-image: url(../assets/offer/kominiarz.jpg);
}

.konfetti {
  background-image: url(../assets/offer/konfetti.jpeg);
}

.lasery {
  background-image: url(../assets/offer/lasery.jpeg);
}

.love {
  background-image: url(../assets/offer/love.jpeg);
}

.mikolaj {
  background-image: url(../assets/offer/mikolaj.jpeg);
}

.namiot {
  background-image: url(../assets/offer/namiot.jpeg);
}

.niania {
  background-image: url(../assets/offer/niania.jpeg);
}

.piwo {
  background-image: url(../assets/offer/piwo.jpeg);
}

.pokrowce {
  background-image: url(../assets/offer/pokrowce.jpeg);
}

.popcorn {
  background-image: url(../assets/offer/popcorn.jpeg);
}

.przyczepa {
  background-image: url(../assets/offer/przyczepa.jpeg);
}

.scianka {
  background-image: url(../assets/offer/scianka.jpeg);
}

.snieg {
  background-image: url(../assets/offer/snieg.jpeg);
}

.swiatla {
  background-image: url(../assets/offer/swiatla.jpeg);
}

.tort {
  background-image: url(../assets/offer/tort.jpeg);
}

.wata {
  background-image: url(../assets/offer/wata.jpeg);
}

.wiejski_stol {
  background-image: url(../assets/offer/wiejski_stol.jpeg);
}

.wodkowoz {
  background-image: url(../assets/offer/wodkowoz.jpeg);
}/*# sourceMappingURL=offer.css.map */